modules = ["python-3.12"]
run = "python3 pythonCode/second.py"

[nix]
channel = "stable-24_05"
packages = ["hello", "fltk14"]

[deployment]

run = "python3 pythonCode/17_BmiCal.py"

[workflows]

[[workflows.workflow]]
name = "Run Python Code"
author = 18026480
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 pythonCode/conditional.py"
