<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="static/css/layout.css">
    {% block css %}
    {% endblock %}

    {% block js %}
    {% endblock %}

    {% block title %}
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link {% if request.path == '/' %} active {% endif %}" aria-current="page"
                        href="/">Home</a>
                    <a class="nav-link {% if request.path == '/contact' %} active {% endif %}" href="/contact">Contact</a>
                    <a class="nav-link {% if request.path == '/about' %} active {% endif %}" href="/about">About</a>
                     
                </div>
            </div>
        </div>
    </nav>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <footer class="d-flex justify-content-center align-items-center bg-black text-white">
        <div class="sec1">
            <ul type="none">
                <li>home</li>
                <li>about</li>
                <li>link</li>
                <li>contact</li>
            </ul>
        </div>
        <div class="sec2">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas magni neque natus dolorum similique! Hic,
                a vitae. Repellendus, voluptas iure!...
            </p>
        </div>
    </footer>
</body>

</html>